$bgColor: #121212;
$font: rgb(227, 227, 227);

div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  background-color: $bgColor;
  margin: 15px;
  margin-top: 80px;
  color: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-subtitle {
  color: $font;
}

img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

button {
  color: $font;
}