$bgColor: #121212;
$font: rgb(227, 227, 227);

mat-card {
  background-color: $bgColor;
  margin: 15px;
  color: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 50%;
  max-width: 250px;
  max-height: 350px;
  object-fit: contain;
}

button {
  color: $font;
}