$containerBgColor: #222222;
$bgColor: #121212;
$font: rgb(227, 227, 227);

.profile-card {
  background-color: $font;
  color: $font;
  margin-top: 80px;
  margin: 15px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.profile-header {
  color: $bgColor;
  font-size: xx-large;
  margin: 15px;
  align-self: center;
}

.profile-title {
  color: $bgColor;
}

mat-form-field {
  // color: $font;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// mat-card-subtitle {
//   color: $font;
//   font-size: large;
// }

.profile-container {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $font;
}

.fav-secondary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $font;

}

mat-card {
  background-color: $bgColor;
  margin: 25px;
  color: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card-subtitle {
  color: $font;
}

img {
  width: 250px;
  height: 350px;
  object-fit: contain;
}

button {
  color: $font;
}